* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  display: block;
}
.flex {
  display: flex;
}
.flag > img {
  width: 100px;
  height: 50px;
}
header {
  background-color: rgb(255, 245, 240);
  justify-content: space-around;
  align-items: center;
  gap: 50%;
}

.list {
  font-size: 25px;
  font-family: "Noto Sans KR", sans-serif;
  gap: 35px;
  /* margin-top: 20px; */
  text-align: center;
  font-weight: 700;
}
.list > li > a {
  color: #ffcdb2;
  transition: 0.4s;
}
.list > li:hover > a {
  color: gray;
  text-shadow: 1px 13px 6px rgba(0, 0, 0, 0.3);
}

.text_box {
  justify-content: center;
  margin-top: 15%;
  font-family: 'Times New Roman', Times, serif;
  color: #FF5B00;
  font-weight: 700;
}
.text_box{
  font-size: 2rem;
  text-align: center;
  
}

.blink {
  animation: blink 0.5s infinite;
  font-size: 3.5rem;
}
.text {
  font-size: 40px;
  background-color: antiquewhite;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
.headerBg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/네덜란드-날씨.jpg");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerBg::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -999999;
  background-color: rgba(0, 0, 0, 0.3);
}